@{
    ViewData["Title"] = "Om sidan";
}

<div class="form-container">
    <h2>Om sidan</h2>
    <p>Denna sida är skapad av Marcus Nygård och är gjord i .NET med Entity Core Framework.</p>
    <br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis et illum, rerum dolorem esse, quasi veniam
        quisquam, architecto ex magnam quidem dolor harum incidunt alias laborum eligendi modi consectetur eum? Ad nobis
        quasi fugiat, suscipit commodi enim iste, magni ratione eligendi facilis eveniet repellat, praesentium
        doloremque quae hic. Veritatis, reprehenderit!</p>
</div>
