@model IEnumerable<Moment32.Models.Genre>

<body>
    <div class="record-container">
        <table class="record-table">
            <thead>
                <tr>
                    <th>
                        Genres
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.GenreName)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Ta bort</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <p>
        <div class="delete"><a asp-action="Create">Lägg till genre</a></div>
        </p>
    </div>
</body>

</html>
